
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>/**
 * Created by kevin on 7/15/2017.
 */
'use strict';
/* global document */
// Load the fonts
Highcharts.createElement('link', {
    href: 'https://fonts.googleapis.com/css?family=Unica+One',
    rel: 'stylesheet',
    type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);

Highcharts.theme = {
    colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
        '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
    chart: {
        backgroundColor: {
            linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
            stops: [
                [0, '#2a2a2b'],
                [1, '#3e3e40']
            ]
        },
        style: {
            fontFamily: '\'Unica One\', sans-serif'
        },
        plotBorderColor: '#606063'
    },
    title: {
        style: {
            color: '#E0E0E3',
            textTransform: 'uppercase',
            fontSize: '20px'
        }
    },
    subtitle: {
        style: {
            color: '#E0E0E3',
            textTransform: 'uppercase'
        }
    },
    xAxis: {
        gridLineColor: '#707073',
        labels: {
            style: {
                color: '#E0E0E3'
            }
        },
        lineColor: '#707073',
        minorGridLineColor: '#505053',
        tickColor: '#707073',
        title: {
            style: {
                color: '#A0A0A3'

            }
        }
    },
    yAxis: {
        gridLineColor: '#707073',
        labels: {
            style: {
                color: '#E0E0E3'
            }
        },
        lineColor: '#707073',
        minorGridLineColor: '#505053',
        tickColor: '#707073',
        tickWidth: 1,
        title: {
            style: {
                color: '#A0A0A3'
            }
        }
    },
    tooltip: {
        backgroundColor: 'rgba(0, 0, 0, 0.85)',
        style: {
            color: '#F0F0F0'
        }
    },
    plotOptions: {
        series: {
            dataLabels: {
                color: '#B0B0B3'
            },
            marker: {
                lineColor: '#333'
            }
        },
        boxplot: {
            fillColor: '#505053'
        },
        candlestick: {
            lineColor: 'white'
        },
        errorbar: {
            color: 'white'
        }
    },
    legend: {
        itemStyle: {
            color: '#E0E0E3'
        },
        itemHoverStyle: {
            color: '#FFF'
        },
        itemHiddenStyle: {
            color: '#606063'
        }
    },
    credits: {
        style: {
            color: '#666'
        }
    },
    labels: {
        style: {
            color: '#707073'
        }
    },

    drilldown: {
        activeAxisLabelStyle: {
            color: '#F0F0F3'
        },
        activeDataLabelStyle: {
            color: '#F0F0F3'
        }
    },

    navigation: {
        buttonOptions: {
            symbolStroke: '#DDDDDD',
            theme: {
                fill: '#505053'
            }
        }
    },

    // scroll charts
    rangeSelector: {
        buttonTheme: {
            fill: '#505053',
            stroke: '#000000',
            style: {
                color: '#CCC'
            },
            states: {
                hover: {
                    fill: '#707073',
                    stroke: '#000000',
                    style: {
                        color: 'white'
                    }
                },
                select: {
                    fill: '#000003',
                    stroke: '#000000',
                    style: {
                        color: 'white'
                    }
                }
            }
        },
        inputBoxBorderColor: '#505053',
        inputStyle: {
            backgroundColor: '#333',
            color: 'silver'
        },
        labelStyle: {
            color: 'silver'
        }
    },

    navigator: {
        handles: {
            backgroundColor: '#666',
            borderColor: '#AAA'
        },
        outlineColor: '#CCC',
        maskFill: 'rgba(255,255,255,0.1)',
        series: {
            color: '#7798BF',
            lineColor: '#A6C7ED'
        },
        xAxis: {
            gridLineColor: '#505053'
        }
    },

    scrollbar: {
        barBackgroundColor: '#808083',
        barBorderColor: '#808083',
        buttonArrowColor: '#CCC',
        buttonBackgroundColor: '#606063',
        buttonBorderColor: '#606063',
        rifleColor: '#FFF',
        trackBackgroundColor: '#404043',
        trackBorderColor: '#404043'
    },

    // special colors for some of the
    legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
    background2: '#505053',
    dataLabelsColor: '#B0B0B3',
    textColor: '#C0C0C0',
    contrastTextColor: '#F0F0F3',
    maskColor: 'rgba(255,255,255,0.3)'
};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);
</script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto" ></div>

<div class="container" style="background-color: black">
    <div class="row">
        <div>

            <script>

                //    var required = require('required');
                //
                //    var averages = require("../db/database.js");
                //    var ranges = require("../db/database.js");
                var bitcoin = [
                            [1246406400000, 14.3],
                            [1246492800000, 14.5],
                            [1246579200000, 15.5],
                            [1246665600000, 16.7],
                            [1246752000000, 16.5],
                            [1246838400000, 17.8],
                            [1246924800000, 13.5],
                            [1247011200000, 10.5],
                            [1247097600000, 9.2],
                            [1247184000000, 11.6],
                            [1247270400000, 10.7],
                            [1247356800000, 11.0],
                            [1247443200000, 11.6],
                            [1247529600000, 11.8],
                            [1247616000000, 12.6],
                            [1247702400000, 13.6],
                            [1247788800000, 11.4],
                            [1247875200000, 13.2],
                            [1247961600000, 14.2],
                            [1248048000000, 13.1],
                            [1248134400000, 12.2],
                            [1248220800000, 12.0],
                            [1248307200000, 12.0],
                            [1248393600000, 12.7],
                            [1248480000000, 12.4],
                            [1248566400000, 12.6],
                            [1248652800000, 11.9],
                            [1248739200000, 11.0],
                            [1248825600000, 10.8],
                            [1248912000000, 11.8],
                            [1248998400000, 10.8]
                        ],
                        ethereum = [
                            [1246406400000, 21.5],
                            [1246492800000, 22.1],
                            [1246579200000, 23],
                            [1246665600000, 23.8],
                            [1246752000000, 21.4],
                            [1246838400000, 21.3],
                            [1246924800000, 18.3],
                            [1247011200000, 15.4],
                            [1247097600000, 16.4],
                            [1247184000000, 17.7],
                            [1247270400000, 17.5],
                            [1247356800000, 17.6],
                            [1247443200000, 17.7],
                            [1247529600000, 16.8],
                            [1247616000000, 17.7],
                            [1247702400000, 16.3],
                            [1247788800000, 17.8],
                            [1247875200000, 18.1],
                            [1247961600000, 17.2],
                            [1248048000000, 14.4],
                            [1248134400000, 13.7],
                            [1248220800000, 15.7],
                            [1248307200000, 14.6],
                            [1248393600000, 15.3],
                            [1248480000000, 15.3],
                            [1248566400000, 15.8],
                            [1248652800000, 15.2],
                            [1248739200000, 14.8],
                            [1248825600000, 14.4],
                            [1248912000000, 15],
                            
                        ];


                var chart = Highcharts.chart('container', {
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: 'Cryptocurrencies'
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ?
                                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Exchange rate'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                ]
                            },
                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },
                    series: [{
                        type:'area',
                        name: 'Bitcoin',
                        data: bitcoin,
                        zIndex: 1,
                        marker: {
                            fillColor: 'white',
                            lineWidth: 2,
                            lineColor: Highcharts.getOptions().colors[0]
                        }
                    }, {
                        name: 'Ethereum',
                        type:'area',
                        data: ethereum,
                        zIndex: 1,
                        marker: {
                            fillColor: 'white',
                            lineWidth: 2,
                            lineColor: Highcharts.getOptions().colors[0]
                        }
                    }]
                });



                var dataRequestFunction = function (){
                        if(this.executed == null){
                            this.previousRand1 = 10.8;
                            this.previousRand2 = 15.0;
                            this.previousTime = 1248912000000;
                            this.executed = true;
                        }
                        
                        
                        var rand1 =  Math.random() * (2.0) - 1.0;
                        var rand2 =  Math.random() * (2.0)  - 1.0;
                        chart.series[0].addPoint([this.previousTime + 86400000, this.previousRand1+rand1],true,true,true);
                        chart.series[1].addPoint([this.previousTime + 86400000, this.previousRand2+rand2],true,true,true);

                        this.previousRand1 += rand1;
                        this.previousRand2 += rand2;
                        this.previousTime = 86400000 + this.previousTime;
                        console.log(this.previousTime);
                };

                var timer = setInterval(dataRequestFunction, 2000);
            </script>

        </div>
    </div>

</div>