
{{> notSignedInHeader}}


<div class="container" style="margin-top: 200px">

    <div class="col-md-2">
    </div>

    <div class="col-md-3">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/f6/ac/08/f6ac0865db98ead4e3625b95822dc0d5.jpg" alt="..." class="img-circle" height="250px">
    </div>

    <div class="col-md-6" style="margin-top: 20px">
<div class="imageupload panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Upload Image</h3>
        <div class="btn-group pull-right">
        </div>
    </div>
    <div class="file-tab panel-body">
        <label class="btn btn-default btn-file">
            <span>Browse</span>
            <!-- The file is stored here. -->
            <input type="file" name="image-file">
        </label>
        <button type="button" class="btn btn-default">Remove</button>
    </div>
    <div class="url-tab panel-body">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Image URL">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default">Submit</button>
            </div>
        </div>
        <button type="button" class="btn btn-default">Remove</button>
        <!-- The URL is stored here. -->
        <input type="hidden" name="image-url">
    </div>
</div>

    </div>
</div>