{{> signedInHeader parentName="tradePage"}}
<div class="jumbotron trade">
    <h1>Bet & Trade Market</h1>
</div>
<div class="container">
    <div class="col-md-14">
        <div class="panel panel-primary">
<ul>
    <p style="color: black;">Pulling dat sweet cryptocoin data from the users wallet here</p>
    <!--retreving that crypto data-->
    {{#each cryptocoins}}
        <li>
            {{this.name}}
            {{this.value}}
        </li>
    {{/each}}
</ul>
    </div>
    </div>
    </div>

    <div class="col-md-4">
        <span>
        <div class="list-group">
            <a href="#" class="list-group-item disabled">
                Crypto cash types baby.
            </a>
            <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Bitcoin</a>
            <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Ethereum</a>
            <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Litecoin</a>
            <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Dogecoin</a>
        </div>
        </span>
    </div>




    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> <div id="chartContainer" style="height: 300px; width: 100%;">
            </div></p>
                <br>
                <p> 24hr Estimation * INSERT DATA FOR ESTIMATE HERE</p>
                <div class="col-md-4"></div>

                <div class="btn-group btn-group-lg" class="buttonsForChart" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Buy</button>
                    <button type="button" class="btn btn-default">Sell</button>
                    <button type="button" class="btn btn-default">Bet</button>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>

