{{> signedInHeader parentName="tradePage"}}

<div class="container">
    <div class="row">
        <div class="col-md-12 coinPanel">
            <ul class="userCoins">
                <li>Your Coins</li>
                <li>Your Coins</li>
                <li>Your Coins</li>
                <li>Your Coins</li>
                <i class="fa fa-btc"></i>

                {{!--{{#each cryptocoins}}
                <li>
                    {{this.name}} {{this.value}}
                </li>
                {{/each}}--}}

            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="marketPanel panel panel-default list-group col-md-3">
            <div class="coinButton">
                <i class="fa fa-btc"></i>
                <p>Bitcoin</p>
                <span class="badge">Currency price</span>
            </div>
            <div class="coinButton">
                <i class="fa fa-btc"></i>
                <p>Ethereum</p>
                <span class="badge">Currency price</span>
            </div>
            <div class="coinButton">
                <i class="fa fa-btc"></i>
                <p>Litecoin</p>
                <span class="badge">Currency price</span>
            </div>
        </div>

        <div class="graphPanel panel panel-default col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="chartContainer" style="height: 300px; width: 100%; margin-bottom: 50px">

                        {{> graph}}

                    </div>

                    <hr>

                    <div class="col-md-4">
                    </div>

                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#buy">
                        BUY
                    </button>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sell">
                        SELL
                    </button>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#bet">
                        BET
                    </button>

                    {{> tradebuy }}
                    {{> tradesell}}
                    {{> tradebet }}

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.document.getElementById("tradeTab").className = "active";
</script>

