{{> signedInHeader parentName="tradePage"}}

<div class="container">
    <div class="row">
        <div class="jumbotron trade" style="margin-top: 50px">
            <h1>Bet & Trade Market</h1>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-primary">
            <ul>
                <p style="color: black;">Pulling dat sweet cryptocoin data from the users wallet here</p>

                <!--retreving that crypto data-->
                {{#each cryptocoins}}
                    <li>
                        {{this.name}}
                        {{this.value}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span>
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">
                        Crypto cash types baby.
                    </a>

                    <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Bitcoin</a>
                    <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Ethereum</a>
                    <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Litecoin</a>
                    <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Dogecoin</a>
                </div>
            </span>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="chartContainer" style="height: 300px; width: 100%; margin-bottom: 50px">

                        {{> graph}}

                    </div>

                    <hr>

                    <div class="col-md-4">
                    </div>

                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#buy">
                        BUY
                    </button>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sell">
                        SELL
                    </button>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#bet">
                        BET
                    </button>

                    {{> tradebuy }}
                    {{> tradesell}}
                    {{> tradebet }}

                </div>
            </div>
        </div>
    </div>
</div>