{{> signedInHeader parentName="tradePage"}}

<div class="container">
    <div class="row">
        <div class="col-md-12 coinPanel">
            <ul class="userCoins">
                {{!--<i class="fa fa-btc"></i>--}}

                {{#each userCoins}}
                <li style="border-right: 1px solid gray; padding-left: 15px; padding-right: 15px; margin: 0">
                    {{this.name}} {{this.amount}}
                </li>
                {{/each}}

            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="marketPanel panel panel-default list-group col-md-3">
            <div class="coinButton">
                <i class="fa fa-btc"></i>
                <p>Bitcoin</p>
                <span class="badge">Currency price</span>
            </div>
            <div class="coinButton">
                <i class="fa fa-btc"></i>
                <p>Ethereum</p>
                <span class="badge">Currency price</span>
            </div>
            <div class="coinButton">
                <i class="fa fa-btc"></i>
                <p>Litecoin</p>
                <span class="badge">Currency price</span>
            </div>
        </div>

        <div class="graphPanel panel panel-default col-md-9">
            <div class="row">
                <div class="col-md-12" id="chartContainer" style="width: 100%; padding:0">
                    {{> graph}}
                </div>
            </div>
            

            <div class="row">
                <button type="button" class="btn btn-primary btn-lg col-md-4" data-toggle="modal" data-target="#buy">
                    BUY
                </button>
                <button type="button" class="btn btn-primary btn-lg col-md-4" data-toggle="modal" data-target="#sell">
                    SELL
                </button>
                <button type="button" class="btn btn-primary btn-lg col-md-4" data-toggle="modal" data-target="#bet">
                    BET
                </button>
            </div>

            

        </div>
    </div>
</div>

{{> tradebuy }}
{{> tradesell}}
{{> tradebet }}

<script>
    window.document.getElementById("tradeTab").className = "active";
</script>

