
{{> signedInHeader parentName="tradePage"}}

<div class="container">
    <div class="row">
        <div class="jumbotron trade" style="margin-top: 50px">
        <h1>Bet & Trade Market</h1>
    </div>
</div>

    <div class="row">
        <div class="panel panel-primary">
            <ul>
                <p style="color: black;">Pulling dat sweet cryptocoin data from the users wallet here</p>

    <!--retreving that crypto data-->
                {{#each cryptocoins}}
                    <li>
                        {{this.name}}
                        {{this.value}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span>
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">
                        Crypto cash types baby.
                    </a>

                    <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Bitcoin</a>
                    <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Ethereum</a>
                    <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Litecoin</a>
                    <a href="#" class="list-group-item"> <span class="badge">Currency price</span>Dogecoin</a>
                </div>
            </span>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="chartContainer" style="height: 300px; width: 100%;">

                        {{> graph}}

                    </div>

                    <hr>

                    <p> 24hr Estimation * INSERT DATA FOR ESTIMATE HERE</p>
                    <div class="col-md-5">
                    </div>

                    <div class="btn-group btn-group-lg" class="buttonsForChart" role="group">
                        <button type="button" class="btn btn-default">Buy</button>
                        <button type="button" class="btn btn-default">Sell</button>
                        <button type="button" class="btn btn-default">Bet</button>


                        <!-- Large modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    ...
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


