<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<table class="table table-striped" id="betHistory">
    ...
</table>
<table class="table table-striped" id="transactionsHistory">
    ...
</table>
<table class="table table-striped" id="activeBets">
    ...
</table>
</body>
</html>