
{{> signedInHeader}}


<div class="container">
    <div class="col-md-12">


        <span class="thumbnail">
<table class="table table-striped"  id="betHistory">
    <tr>sd aasda </tr>

    <tr>sdasdasd</tr>
</table>
</span>
</div>



    <div class="col-md-6">
        <span class="thumbnail">
<table class="table table-striped" id="transactionsHistory">
    ...<tr>sd aasda </tr>
    <tr>sdasdasd</tr>
</table>
            </span>
    </div>




    <div class="col-md-6">
        <span class="thumbnail">
<table class="table table-striped" id="activeBets">
    ...<tr>sd aasda </tr>
    <tr>sdasdasd</tr>
</table>
            </span>
    </div>
</div>