
{{> signedInHeader}}
<table class="table table-striped" id="betHistory">
    ...
</table>
<table class="table table-striped" id="transactionsHistory">
    ...
</table>
<table class="table table-striped" id="activeBets">
    ...
</table>